<!DOCTYPE html>
<html lang="en" ng-app="calendar">
<head>
	<meta http-equiv="refresh" content="0; url=http://educalendar.herokuapp.com" />
    <meta charset="UTF-8">
    <title>Academic Calendar Planner</title>
    <script src='libs/jquery-1.11.3.min.js'></script>
    <script src='libs/angular.js'></script>
    <!--<script src='/libs/angular-ui-router.min.js'></script>-->
    <script src='bootstrap/js/bootstrap.min.js'></script>
    <script src='libs/lodash.min.js'></script>
    <script src='libs/checklist-model.js'></script>
    <script src='libs/ngLoading.js'></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="style.css"/>
    <script src='libs/ui-bootstrap-tpls-0.9.0.min.js'></script>
    <script src="app.js"></script>
    <script src="data-structure-controller.js"></script>
</head>
<body ng-controller="dataCtrl as data">
    <p><b>**Note:</b> The application has been changed slightly. When opening the list of calendars and clicking on the button, the selected calendar will open in a new tab.</p>
    <h1>Create an Academic Calendar</h1>
    <form name="inputForm" class="form-horizontal" novalidate>
        <label>Select the calendar year to create a calendar in:</label>
        <select ng-model="data.year">
            <option ng-repeat="option in data.yearList" value="{{option}}">{{option}}-{{option + 1}}</option>
        </select><br/>

        <label>The first day of Fall semester in Aug </label>
        <!-- still needs validation -->
        <input type="number" name="firstDay" size="3" ng-model="data.endDay" min="17" max="31"/> <!-- required -->
        <label class="error" ng-show="inputForm.firstDay.$dirty && inputForm.firstDay.$error.max || inputForm.firstDay.$error.min">Input needs to be between 17-31</label>
        <br/><br/>

        <label>Guaranteed hard rules:</label>
        <ul>
            <li ng-repeat="rule in data.hardRules">{{rule}}</li>
        </ul><br/>
        <label>Select the checkboxes of the soft rules to guarantee (Please select at least one):</label>
        <label class="checkbox-list" ng-repeat="(key,value) in data.softRules">
            <input type="checkbox" checklist-model="data.selections.rules" checklist-value="key"> {{value}}
        </label>
        <br/>
        <button class="btn btn-default" ng-click="data.getIndexCount()" ng-disabled="alertForm.$invalid">Create Calendar</button><br/>
        (This may take a minute to create)<br/>
        <label ng-show="data.working">LOADING...</label><br/>
    </form>




    <div>
        <div ng-show="data.showResults">
            <accordion close-others="false">
                <accordion-group ng-repeat="option in [] | range:data.count[0]" heading="OPTION {{$index + 1}}" ng-click="data.loadIFrame($index)">
                    <!--<button class="btn btn-default" ng-click="data.getCalendar($index)">Click me to see calendar #{{$index + 1}}!</button>-->
						<iframe id="frame{{$index }}"></iframe>
                </accordion-group>
            </accordion>

        </div>

        <div ng-show="data.count[0] == 0">
            <label>There are no calendars due to the following conflicts:</label>
            <ul>
                <li ng-repeat="error in data.count[1]">{{error}}</li>
            </ul>
        </div>

    </div>

</body>
</html>